@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-bg: #141414;
  --clr-bg-card: #1a1919;
  --clr-header: hsl(0, 0%, 0%);
  --clr-border: #474747;
  --clr-cta-1: hsl(39, 50%, 61%);
  --clr-cta-2: #3389e4;
  --clr-text: #fffffc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  min-height: 100vh;
  font-size: 1.1rem;
}

header {
  background-color: var(--clr-header);
  border-bottom: 1px solid var(--clr-border);
  color: var(--clr-text);
  text-align: center;
  padding: 20px;
  height: 90px;
}

main {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 150px);
}
.btn-add {
  background-color: var(--clr-cta-1);
  padding: 0.5em 1em;
  font-size: inherit;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.library {
  margin: 0 220px;
  width: 100%;
  max-width: 1400px;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  gap: 20px;
}

.card-book {
  background-color: var(--clr-bg-card);
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  padding: 20px;

  display: flex;
  gap: 30px;
  overflow-x: hidden;
  position: relative;
}
.book-content {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-wrap: normal;
  gap: 5px;
  width: 100%;
  max-width: 100%;
}
.book-content p {
  font-style: italic;
}
.book-content .bold {
  font-weight: 700;
  font-style: normal;
}
.buttons {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}
.btn-remove,
.btn-read {
  padding: 0.4em;
  flex: 1;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 4px;
}
.btn-read {
  background-color: hsl(120, 50%, 66%);
}
.btn-remove {
  background-color: hsl(0, 50%, 66%);
}

.dialog {
  margin: auto;
  background-color: var(--clr-bg-card);
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  color: var(--clr-text);
}
form {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  width: 400px;
  height: 370px;
  padding: 20px;

  position: relative;
}
h3 {
  margin-bottom: 20px;
}
label {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
  padding-bottom: 5px;
}
label:last-of-type {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  border-bottom: none;
}
input {
  background-color: #333;
  border: none;
  color: var(--clr-text);
}
.btn-submit {
  margin-top: 20px;
  align-self: center;
  padding: 0.5em 1em;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: var(--clr-cta-1);
  font-weight: 600;
}
.btn-cancel {
  position: absolute;
  right: 20px;
  font-size: larger;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  color: var(--clr-text);
  border: 1px solid var(--clr-border);
}

footer {
  width: 100%;
  text-align: center;
  background-color: var(--clr-header);
  border-top: 1px solid var(--clr-border);
  color: var(--clr-text);
}
footer a:any-link {
  text-decoration: none;
  color: var(--clr-cta-1);
}

/* Hover */
button {
  border: 2px solid transparent;
  transition: filter 0.25s, border 0.25s;
}
button:hover,
button :active {
  filter: saturate(400%);
  cursor: pointer;
  border: 2px solid white;
}

/* Utils */
.center-text {
  text-align: center;
}
